
<div class="col-md-10"> 
<% item = items[0] %>
	<h2>
		Edit Video:
		<small><a href="/videos/<%= item._id %>"><%= item.metadata[0].title %></a></small>
	</h2> 
	<div class="edit-form">
    <form action="/videos/update/<%= item._id %>" method="post" accept-charset="utf-8">
    	<br>
			<div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Title</span>
				<input type="text" class="form-control" placeholder="title" aria-describedby="sizing-addon1" name="title" value="<%= item.metadata[0].title %>">
      </div>
      <br>
      <div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Source URL</span>
				<input type="text" class="form-control" placeholder="video" aria-describedby="sizing-addon1" name="video" value="<%= item.video %>">
      </div>
      <br>
      <div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Author/publisher</span>
				<input type="text" class="form-control" placeholder="author" aria-describedby="sizing-addon1" name="author" value="<%= item.metadata[0].author %>">
      </div>
      <br>
      <div class="form-group">
				<span class="input-group-addon" id="sizing-addon1">Description</span>
				<textarea class="form-control" rows="5" id="" name="abstract"><%= item.metadata[0].abstract %></textarea>
      </div>
      <br>
      <div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Category</span>
				<input type="text" class="form-control" placeholder="category" aria-describedby="sizing-addon1" name="category" value="<%= item.metadata[0].category %>">
      </div>
      <br><br>
      <div class="buttons">
        <button class="btn btn-default" type="submit">update</button>  <a href="javascript:render('admin-videos', '/json/videos', true, '.admin-panel');">cancel</a> <a class="alert-btn" href="/videos/destroy/<%= item._id %>" title="Delete this item item">delete</a>
      </div>
    </form>

  </div>

</div>

