
      <h2><%= items.shortname %></h2>
  <p>
    <span>    
      <!--<%= items.name %> <%= items.surename %>-->
      Beruf: <%= items.profession %>,<br>
      geboren am <%= items.birth %> in <%= items.birth_place %>,<br>
      gestorben am <%= items.death %> in <%= items.death_place %>.<br>
      <br><br>
      
      <%= items.bio %>
      
      <% items.images.forEach( function ( image ){ %>
      	<!-- <img src="<%= image %>" /> -->
      <% }); %>
      <br/>
      <br/>
    </span>
    <span>
      <!--<a href="/persons/destroy/<%= items._id %>" title="Delete this person items">Delete</a>-->
    </span>
  </p>

