<% layout( 'layout-scenes' ) -%>

<!-- 
"title": "Titelsequenz",
    "number": 1,
    "source": "1",
    "length": "32:06",
    "status": "unvollständig",
    "description": "Der von Karel Fischer geleitete Chor singt Mendelssohn-Bartholdys „Elias“.",
    "music": "Felix Mendelsohn-Bartholdy: „Elias“",
    "locations": "",
    "updated_at": "2014-08-07T07:28:07.308Z",
    "_id": "53e32a87db2319a210507f3b",
    "images": [],
    "protagonists": [
      "Karel Fischer",
      "Jo Spier"
    ],

--> 
 
<% todos.forEach( function( item ){ %>
  <p>
    <span>
      <% if( item._id == current ){ %>
      <form action="/scenes/update/<%= item._id %>" method="post" accept-charset="utf-8">
        <input type="text" name="title" value="<%= item.title %>" />
        <input type="text" name="status" value="<%= item.status %>" />
        <textarea name="description"> <%= item.description %></textarea>
        <textarea name="music"> <%= item.music %></textarea>
        <div class="protagonists">
					<% j=item.protagonists.length %> 
					<% if (j > 1) { %> 
						Berühmte Persönlichkeiten unter den Darstellern:  
					<% } %>
					<% item.protagonists.forEach( function ( person ){ %>
						<a href="/persons/<%=: person | replace:' ','_' %>"><%= person %></a>, 
					<% }); %>
				</div>
        <button type="submit">Update</button>
      </form>
      <% }else{ %>
        <!-- <a href="/scenes/edit/<%= item._id %>" title="Update this item item"><%= item.title %></a>-->
      <% } %>
    </span>
    <span>
     <!-- <a href="/scenes/destroy/<%= item._id %>" title="Diese szen löschen">Delete</a> -->
    </span>
  </p>
<% }); %>
