
<% layout('layout') -%>

<div class="jumbotron">
	<div class="container">
<h2>Registrierung</h2>
  <p></p>
  </div>
</div> 

<div class="container">
  <p>
    <div class="edit-form">
      
      <% if (errors) { %>
      	<% errors.forEach(function(err){  %>
		      <div><%= err.msg %></div>
		     <% }) %> 
      <% } %>
      <form action="/users/register" method="post" accept-charset="utf-8">
		    <div class="input-group input-group-xs">
					<span class="input-group-addon" id="sizing-addon1">E-Mail</span>
					<input type="input" class="form-control" placeholder="password" aria-describedby="E-Mail address" name="email" value="<% if (email) { %><%= email %><% } %>">
		    </div>
		    <br>
		    <div class="input-group input-group-xs">
					<span class="input-group-addon" id="sizing-addon1">Username</span>
					<input type="input" class="form-control" placeholder="username" aria-describedby="Username" name="username" value="<% if (username) { %><%= username %><% } %>">
		    </div>
		    <br>
		    <div class="input-group input-group-xs">
					<span class="input-group-addon" id="sizing-addon1">Password</span>
					<input type="password" class="form-control" placeholder="password" aria-describedby="Password" name="password" value="<% if (password) { %><%= password %><% } %>">
		    </div>
		    <br>
      
        <br>
				<label>E-Mail:</label>
				<input type="text" name="email" value="<% if (email) { %><%= email %><% } %>" />
        <br>
        <label>Benutzername:</label>
				<input type="text" name="username" value="<% if (username) { %><%= username %><% } %>" />
        <br>
				<label>Passwort:</label>
				<input type="passord" name="password" value="<% if (password) { %><%= password %><% } %>" />
				 <br>
        <div class="buttons">
        	<button class="edit-btn" type="submit">registrieren</button>  <a href="/users/">cancel</a> 
        </div>
      </form>
    </div>
  </p>
</div>
