

<script type="text/javascript"> 
//
var aAsc = [];
function sortTable(e) { 

	var nr = $(e.currentTarget).index(); 
	aAsc[nr] = aAsc[nr]=='asc'?'desc':'asc';
	$('.xtable > tbody > tr').tsort('tr["num"], td:eq('+nr+')',{order:aAsc[nr]});
}

jQuery(document).ready(function(e) { 
	$('.xtable').find('thead th').siblings().bind('click', function(e){ 
		//alert(99)
		sortTable(e); 
	});
});	

// javascript:render('admin-videos-new','/admin/videos/new', false, '.admin-panel');
</script>



<h2>Videos 
<small><a class="button" href="#" data-toggle="collapse" data-target="#addVideoPanel" aria-expanded="false" aria-controls="collapseExample">add new</a></small></h2>


<div id="addVideoPanel" class="edit-form collapse panel">
	<div class="panel-heading">Add new video</div>
	<div class="panel-body">	 
		<form action="/videos/create" method="post" accept-charset="utf-8">
			<div class="form-element input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Title</span>
				<input type="text" class="form-control" placeholder="title" aria-describedby="sizing-addon1" name="title" value="">
			</div>
			<div class="form-element input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Source URL</span>
				<input type="text" class="form-control" placeholder="video" aria-describedby="sizing-addon1" name="video" value="">
			</div>
			<div class="form-element input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Author/publisher</span>
				<input type="text" class="form-control" placeholder="author" aria-describedby="sizing-addon1" name="author" value="">
			</div>
			<div class="form-element form-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Description</span>
				<textarea class="form-control" rows="5" id="" name="abstract"></textarea>
			</div>
			<div class="form-element input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Category</span>
				<input type="text" class="form-control" placeholder="category" aria-describedby="sizing-addon1" name="category" value="">
			</div><% id = Math.random()*9999 %>
			<input type="hidden" name="id" value="" />
			
			<div class="form-element buttons">
				<button class="btn btn-default" type="submit">save</button>  <a href="javascript:render('admin-videos', '/json/videos', true, '.admin-panel');">cancel</a>
			</div>
		</form>
	</div>	
</div>


<table class="xtable">
	<thead>
		<th>Titel</th>
		<th>Annotations</th>
		<th>Stats</th>
	</thead>
	<tbody>
	
	<% items.forEach(function(item){  %>
	<tr>
		<td class="table-menu">
			<%= item.metadata[0].title %><br>
			<span class="table-menu-entry">
				id: <%= item.id %> | 
				<a href="/videos/view/<%= item._id %>">view video</a> | 
				<a href="javascript:render('admin-videos-edit','/admin/videos/metadata/edit/<%= item._id %>', true, '.admin-panel');">edit metadata</a> |
				<a href="/admin/videos/annotations/edit/<%= item._id %>">edit annotations</a> 
			</span>
		</td>
		<td>
			<% if ( item.hyperlinks.length > 1) { %>hyperlinks (<%=item.hyperlinks.length%>), <%}%>
			<% if ( item.toc.length > 1) { %>chaptes (<%=item.toc.length%>), <%}%>
			<% if ( item.tags.length > 1) { %>tags (<%=item.tags.length%>), <%}%> 
			<% if ( item.highlight.length > 1) { %>highlight (<%=item.highlight.length%>), <%}%>
			<% if ( item.slides.length > 1) { %>slides (<%=item.slides.length%>), <%}%>
			<% if ( item.comments !== null) { %>comments (<%=item.comments.length%>), <%}%>
			<% if ( item.assessmentfillin.length > 1) { %>fill-in tasks (<%=item.assessmentfillin.length%>), <%}%>
			<% if ( item.assessment.length > 1) { %>questions (<%=item.assessment.length%>), <%}%>
			<% if ( item.assessmentwriting.length > 1) { %>on demand tasks (<%=item.assessmentwriting.length%>), <%}%>
			<br>
			<span class="table-menu-entry">
				<a href="/admin/videos/annotations/edit/<%= item._id %>">edit annotations</a>
			</span>
		</td>
		<td><% if ( item.updated_at !== undefined ){ %><%= item.updated_at %><%}%><br>
			<span class="table-menu-entry">
				<a href="/analytics/videos/<%= item._id %>">show stats</a> 
			</span>
		</td>
		
	</tr>	
<!--  
<div class="scene-view">
	<h3><a href="/videos/view/<%= item._id %>"><%= item.metadata[0].title %></a></h3>
  <div class="bim">
  	<% if (item.thumbnail != "") { %> 
  		<a href="/videos/view/<%= item._id %>">
  			<img class="still-images" src="<%= item.metadata[0].thumbnail %>" width="180" />
  		</a>	
  	<% }else{ %>
  		<a href="/videos/view/<%= item._id %>">
	  		<img class="still-images" src="/static/img/placeholder.jpg" width="180" />
	  	</a>	
  	<% }%>	
  </div>
  <div class="bam">
		<span class="lecturer">Dozentin: <%= item.metadata[0].author %></span><br>
		<div class="description"><%= item.metadata[0].abstract %></div>
		<div class="controls" hidden>
			<a class="button" href="/videos/edit/<%= item._id %>" title="Update this item">edit</a>
		</div>	
		<span class="tags"><strong>Tags:</strong>
		<% item.metadata[0].tags.forEach( function ( tag ){ %>
			<%= tag.t %>,
		<% }); %>
		 </span>
  </div> 
</div>
-->
<% if (items.length) { %><% } %>
<% }); %>
</tbody>
</table>



