<br>
<% if( items !== undefined ){ %>
<div class="box">	
	<% items.forEach(function( mes ){ %>
		<% if(myself === mes.author._id ){ %>
		 <% classs='msg-out' %>
		 <% }else{ %>
		 <% classs='msg-in ' %>
		 <% } %>
		<div class="message <%= classs %> msg-<%= mes.type %> msg-<%= mes.phase %> msg-<%= mes.visibility %> ">
			<div class="msg-head">
				<b><%= mes.author.username %></b> <span class="glyphicon glyphicon-arrow-right"></span> 
				<% mes.recipient.forEach(function( rec ){ %>
					<%= rec.username %>, 
				<%})%>	
				<span class="right"><%= moment(mes.updated_at).fromNow() %></span>
			</div>
			<%= mes.message %>
		</div>
	<% }) %>
</div>
<% } %>		
