<% layout( 'layout-scenes' ) -%>
 
 
<% items.forEach( function( item ){ %>
  <p>
    <span>
      <% if( item._id == current ){ %>
      <form action="/persons/update/<%= item._id %>" method="post" accept-charset="utf-8">
        <input type="text" name="title" value="<%= item.shortname %>" />
        <input type="text" name="number" value="<%= item.name %>" />
        <input type="text" name="description" value="<%= item.surname %>" />
        <button type="submit">Update</button>
      </form>
      <% }else{ %>
        <a href="/persons/edit/<%= item._id %>" title="Update this item item"><%= item.title %></a>
      <% } %>
    </span>
    <span>
      <a href="/persons/destroy/<%= item._id %>" title="Delete this item item">Delete</a>
    </span>
  </p>
<% }); %>
