
<script type="text/javascript"> 
$('.markdown').each(function(i, val){
	$(this).html( markdown.toHTML($(this).text()) );
});
</script>



      <h2><%= items.shortname %></h2>
  <p>
    <span>
 
      
      <%= items.name %>
      <%= items.surename %>
      <%= items.birth %>
      <%= items.birth_place %>
      <%= items.death %>
      <%= items.death_place %>
      <%= items.profession %>
      <div class='markdown'><%= items.bio %></div>
      
      <% items.images.forEach( function ( image ){ %>
      	<img src="<%= image %>" />
      <% }); %>
      <br/>
      <br/>
    </span>
    <span>
      <!--<a href="/persons/destroy/<%= items._id %>" title="Delete this person items">Delete</a>-->
    </span>
  </p>

