
<script type="text/javascript"> 
//
var aAsc = [];
function sortTable(e) { 
	var nr = $(e.currentTarget).index(); 
	aAsc[nr] = aAsc[nr]=='asc'?'desc':'asc';
	$('#xtable>tbody>tr').tsort('td:eq('+nr+')[abbr]',{order:aAsc[nr]});
}
$('#xtable').find('thead th:last').siblings().bind('click', sortTable);

//
var show_bio = function(name, bio, row){ 
	$('.bio-name').html(name);
	$('.bio-text').html(bio);
	$('#xtable>tbody').find('td').each( function(i,vl){ $(this).removeClass('highlight'); });
	$('#xtable>tbody>tr[abbr="'+row+'"]').find('td').each( function(i,vl){ $(this).addClass('highlight'); });
}

// render markdown
		$('.mark').each(function(i, val){
				$(val).html(markdown.toHTML($(val).text()))
		});

</script>


<div class="jumbotron">
	<div class="container">
  <h2>Protagonisten</h2>
  <p>Die nachfolgend gelistet Personen wurden von als Protagonisten im Film identifiziert. Die biographischen Angaben konnten bisweilen nur teilweise ermittelt werden.</p>
  </div>
</div> 

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<table id="xtable">
			<thead>
				<th></th>
				<th>Nachname</th>
				<th>Vorname</th>
				<th>Geburtstag</th>
				<th>Geburtsort</th>
				<th>Todestag</th>
				<th>Todesort</th>
				<th>Beruf</th>
			</thead>
			<tbody>

			<% if (items.length) { %>
			<% i=0 %>	
				<% items.forEach(function(item){ i++ %>
					<tr class="meta" abbr="<%= i %>">
						<td abbr="<%= i %>"><% if (item.images[0]) { %><img width="70" src="/static/img/persons/<%= item.images[0] %>" /><% } %></td> 
						<td abbr="<%= i %>">
							<% if (item.bio != "") { %>
								<a href="javascript:show_bio('<%=: item.shortname | replace:/ /g,'_' %>', '<%= item.bio %>', <%= i %>);" title=""><%= item.surename %></a>
							<% }else {%>
								<%= item.surename %>
							<%}%>
							</td>
						<td abbr="<%= i %>"><%= item.name %><a href="/persons/<%=: item.shortname | replace:/ /g,'_' %>" title=""></a></td>
						<td abbr="<%= i %>"><%=: item.birth | replace:/00./g,'' %></td>
						<td abbr="<%= i %>"><%= item.birth_place %></td>
						<td abbr="<%= i %>"><%=: item.death | replace:/00./g,'' %></td>
						<td abbr="<%= i %>"><%= item.death_place %></td>
						<!--<td><%= item.prof_group %></td>-->
						<td abbr="<%= i %>"><%= item.profession %></td>
				</tr>
				<!--<tr class="bio bio-<%=: item.shortname | replace:/ /g,'_' %>" hidden num="e<%= i %>">
						<td class="bio markdown" colspan="9"><%= item.bio %></td>
				</tr>
		
					<%= item.bio %> 
					<% item.images.forEach( function ( image ){ %>
						<img src="<%= image %>" />
					<% }); %>
				 	<a class="button" href="/persons/<%=: item.shortname | replace:/ /g,'_' %>" title="Update this person item">bearbeiten</a>
				 	-->
				 <% }) %>
			<% } %>
				
			</tbody>
			</table> 
		</div>	
		<div class="col-md-4 side-panel affix-top" data-spy="affix">
			<h3 class="bio-name"></h3>
			<div class="bio-text"></div>
			<ul hidden id="scene-menu" class="nav nav-tabs nav-stacked"  data-spy="affix">
				<% j=0; %>
				<% items.forEach( function ( item ){ %>
				<% j++ %>
				<li><a href="#scene-<%= j %>"><%= item.surename %>, <%= item.name %></a></li>
				<% }); %>
			</ul>
			<a hidden class="back-to-top" href="#top">Back to top</a>
		</div>
	</div>	
</div>	
    
    
<script>
$('.side-panel').affix({
	offset: {
		top: 180,
		bottom:50
	}
});

$('.side-panel').on('affixed.bs.affix', function(){
		$(this).removeAttr('style');
});
</script>    
