<% if (!items.user) { %>
	<!--<a class="account-data" href="/users/register">Registrieren</a>-->
	<a class="account-data" href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a>			
<% } else { %>
	<div class="user-menu">			 
		<a class="user-menu-entry navbar-brand" href="/users/view/<%= items.username %>" title="Benutzerprofil von <%= items.username %> ansehen" data-toggle="tooltip" data-placement="bottom" >
			<img class="user-menu-icon" src="/static/img/user-icons/user-<%= items.id %>_big.png" />
			<%= items.username %>
		</a>
		<a class="user-menu-entry navbar-brand" id="logoutbtn" title="log out" data-toggle="tooltip" data-placement="bottom" href="/logout">
			<span class="glyphicon glyphicon-log-out"></span>
		</a>	
	</div>
	<script>
		// enable tooltips
		$(window).load(function () {
			$('a#logoutbtn').click(function(e){
				socket.disconnect();
				//socket.emit('user.disconnected', {id: '<%= items.id %>'} );
			});
		});
		<% if (items.role === 'editor') { %>
			$('.navbar-nav').append('<li><a href="/admin">Admin</a></li>');
		<% } %>
	</script>
	
<% } %>		


