

<script type="text/javascript"> 
//*
var aAsc = [];
function sortTable(e) { 

	var nr = $(e.currentTarget).index(); 
	aAsc[nr] = aAsc[nr]=='asc'?'desc':'asc';
	$('.xtable > tbody > tr').tsort('tr["num"], td:eq('+nr+')',{order:aAsc[nr]});
}

jQuery(document).ready(function(e) { 
	$('.xtable').find('thead th').siblings().bind('click', function(e){ 
		//alert(99)
		sortTable(e); 
	});
});	

//
var show_bio = function(cl){ 
	$('.xtable').find('tr.bio').each(function(i, val){
		$(this).hide(); 
	});
	$('tr.'+cl).show();
}

//alert(markdown.toHTML('# hrllo'));
//$('#mark').html(markdown.toHTML($('#mark').text()));
</script>


<h2>Users 
<a class="button" href="/users/new">add new</a></h2>

<div id="mark"></div>
<table class="xtable">
<thead>
	<th></th>
	<th>user name</th>
	<th>surename</th>
	<th>given name</th>
	<th>role</th>
	<th>groups</th>
</thead>
<tbody>

	<% if (items.length) { %>
	<% i=0 %>	
		<% items.forEach(function(item){ i++ %>
			<tr class="meta" num="e<%= i %>">
				<td><img width="30" src="img/user-icons/<%= item.id %>" /></td> 
				<td><a href="/users/edit/<%=: item.username %>" title=""><%= item.username %></a></td>
				<td><%=: item.name %></td>
				<td><%= item.firstname %></td>
				<td><%=: item.role %></td>
				<td><%= item.groups %></td>
		</tr>
     <% }) %>
 	<% } %>
      
  </tbody>
</table> 
    
