<% layout('layout') -%>


<div class="jumbotron">
	<div class="container">
		<h2><span class="glyphicon glyphicon-user"></span> <%= item.username %></h2>
		<p>
		  <div class="edit-form">
		  	<label>Benutzername:</label> <%= item.username %> <img width="20" src="/static/img/user-icons/user-<%= item.id %>_big.png" /><br/>
			 	<label>Name:</label> <%= item.firstname %> <%= item.name %><br/>
			</div>
		</p>
  </div>
</div>  


<div class="container" style="overflow:auto;">
	<div class="row">
		<div class="col-sm-6 col-md-4">
			<label>Group members</label><br/>
			<div class="group-area2"></div>
		</div>
		<div class="col-sm-6 col-md-4">
			<label>Activities:</label>
			<div class="activity-log">(comming soon)</div>
		</div>	
	</div>
</div>

<script type="text/javascript"> 
//$('.markdown').each(function(i, val){ $(this).html( markdown.toHTML($(this).text()) );});
$(window).load(function () {
	render('group-overview', true, '.group-area2', 'group-data');
});



/*$.get('/json/user-activity-log', function(data){ alert(data[3].utc)
	$( '.activity-log' ).html( ejs.render(template, {items: data}) );
});
*/

</script>
