<% layout( 'layout' ) -%>

<div class="jumbotron">
	<div class="container">
		<h2>Themen & Videos</h2>
	</div>
</div> 

<div class="container">
	
	<% phase_i = 0 %>
	<% items.script.phases.forEach(function(phase){ %>
		<% if( phase_i <= items.script.current_phase ) {%>
	<div class="row">
		<div class="col-md-6 phase">
			<h3 class="str"><%= phase.title %></h3>
			<div>Aufgabe:</div>
			<div class="mark str"><%= phase.instruction %></div>
			<div>Materialien:</div>
			<div class="mark str"><%= phase.supplements %></div>
		</div>
	</div>
	<div class="row">
		<% items.videos.forEach(function(item){ %>
		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a class="thumbnail" href="/videos/view/<%= item._id %>"><img width="100%" src="<%= item.metadata[0].thumbnail %>" /></a>
				<div class="caption">
		      <h3><%= item.metadata[0].title %></h3>
		      <p class="lecturer"><a href="<%= item.metadata[0].source %>"><span class="glyphicon glyphicon-user"></span> <b></b> <%= item.metadata[0].author %></a></p>
					<p><%= item.metadata[0].abstract %></p>
					<!--<p><span class="glyphicon glyphicon-globe"> <b>Quelle</b></span></p>	-->
		     </div> 
				</div>
		</div>
		<% }); %>
	</div>
		<% } %>	
		<% phase_i++ %>
	<% }); %>
	
</div>

<script>

$('.str').each(function(i, val){
	$(this).text( decodeURIComponent($(this).text()) );
})

</script>
