<% layout( '../admin-layout' ) -%>

<% if ( items.title ) {  %>
<h2>Instance: <span id="instanceTitle" class="str xeditable"><%= items.title %></span></h2>
<% } %>
<!-- Phases -->
<form id="instance-form">
<div class="phases"  id="sortable">
<% if ( items.phases) { 
	phase_i = -1
%>
	<% items.phases.forEach(function( phase ){ 
		phase_i++
	%>
		<div class="phase" id="phase_<%= phase_i %>">
			<span class="glyphicon glyphicon-sort right"></span>
			<h3 class="xeditable phase-title str" id="phase-title_<%= phase_i %>" data-type="text" data-pk="1" data-url="" data-title="Phase Title">
				<%= phase.title %>
			</h3>
			<div class="row">
				<!-- Define time range -->
				<div class="col-md-6 admin-panel">
					<div class="row">
						<div class='col-sm-5'>
							<div class="input-group input-group-xs">
								<span class="input-group-addon" id="start_<%= phase_i %>">Start</span>
								<input type="text" class="datetimepicker form-control start" id="datetimepicker_start_<%= phase_i %>" aria-describedby="Select date and time when Phase should start"  value="<%- phase.start %>">
							</div>
						</div>
						<div class='col-sm-5'>
							<div class="input-group input-group-xs">
								<span class="input-group-addon" id="start_<%= phase_i %>">End</span>
								<input type="text" class="datetimepicker form-control end" id="datetimepicker_end_<%= phase_i %>" aria-describedby="Select date and time when Phase should start"  value="<%= phase.end %>">
							</div>
						</div>
					</div>
					<br/>
					<ul class="nav nav-tabs nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#task_<%= phase_i %>" aria-controls="task" role="tab" data-toggle="tab">Task</a></li>
						<li role="presentation" ><a href="#supplements_<%= phase_i %>" aria-controls="supplements" role="tab" data-toggle="tab">Supplements</a></li>
					</ul>	  
					<div class="tab-content">
						<div class="sec tab-pane active" id="task_<%= phase_i %>">
							<textarea class="script-form task" id="phase-task_<%= phase_i %>"><%= phase.instruction %></textarea>
						</div>
						<div class="sec tab-pane" id="supplements_<%= phase_i %>">
							<textarea class="script-form supplements" id="phase-supplements_<%= phase_i %>"><%= phase.supplements %></textarea>
						</div>
					</div>
				</div>
				<!-- Select Groups -->
				<div class="col-md-2 admin-panel">
					<h4>Group Formations</h4>
					<div id="group_<%= phase_i %>" class="phase-group-list"></div>
				</div>
				<!-- Select Videos -->
				<div class="col-md-4 admin-panel">
					<h4>Video Files</h4>
					<div id="videos_<%= phase_i %>" class="phase-video-list"></div>
				</div>
			</div>
			<!-- Customize group / video instance permissions -->
			<div class="col-md-12">
				<a class="btn right" id="btn-show-permission-<%= phase_i %>" role="button" data-toggle="collapse" data-nada="permissionTable('<%= phase_i %>')" href="#collapseAccess_<%= phase_i %>" aria-expanded="false" aria-controls="collapseAccess_<%= phase_i %>">customize group permissions</a>
				<div class="collapse" id="collapseAccess_<%= phase_i %>">
					<table class="script-table" id="table1"></table>
				</div>
			</div>	
		</div>	
	<% }) %>
<% } %>
</div>

<br><br><br>
<div class="buttons">
	<label class="alert-btn"><input type="checkbox" id="overwrite" /> Overwrite all video instances and groups?</label>
	<br/>
	<button type="submit" class="btn-primary btn">save instance</button>  
	<a href="/admin/scripts/instances">cancel</a> 
	<a class="alert-btn right" href="/admin/scripts/instances/destroy/<%= items._id %>" title="Delete this instance">delete</a>
</div>
</form>

<script>

/*
todo
- preview group formations
- validation / optional values
*/


/*
require.config({
  paths: {
    // set the moment.js path
    jquery: 'jquery-1.9.1.min',
    moment: 'moment.min',
    datetime: 'bootstrap-datetimepicker.min'
  }
});

	require(['moment', 'jquery', 'datetime'], function(moment, jquery, datetimepicker) {
  // test if moment is loaded
  alert(moment().format('dddd, MMMM Do YYYY, h:mm:ss a'));
});
*/

/*
 * make it editable
 **/
	$.fn.editable.defaults.mode = 'inline'; // popup


/*
 * make phases sortable 
 **/
	$( function() {
		$( "#sortable" ).sortable({
			//containment: "parent",
			placeholder: "highlight"  	
		});
		$( "#sortable" ).disableSelection();
	});


/*
 **/
function escapeSpecialChars(s) { 
    return encodeURIComponent(s);
    return s.replace(/\n/g, "\\n")
               .replace(/\'/g, "\\'")
               .replace(/\"/g, '\\"')
               .replace(/\&/g, "\\&")
               .replace(/\r/g, "\\r")
               .replace(/\t/g, "\\t")
               .replace(/\b/g, "")
               .replace(/\f/g, "\\f");
};

$('textarea').each(function(i, val){
	$(this).val( decodeURIComponent($(this).val()) );
})
$('.str').each(function(i, val){
	$(this).text( decodeURIComponent($(this).text()) );
})
var data = JSON.parse('<%-JSON.stringify( items.phases )%>');




$(document).ready(function() {
	var 
		the_formations = [],
		the_files = []
		;
		
	// make text editable inline
	$('.xeditable').editable({
		success: function(response, value) {
       //alert($(this).attr('id') +'__'+value)   
   	}
	});

	// load group formations
	$.each( data, function(i, phase){
		// list available group formations
		$.get('/json/admin/groups/formations', function(formations){ 
			the_formations = formations;
			$.each(formations, function(j, val){
				var check = phase.groupformation === formations[j]._id ? 'checked' : '';
			
				var label = $('<label><input '+ check +' value="'+val._id+'" type="radio" name="grform_'+i+'" aria-label="'+val.title+'"> '+val.title+'</label>');
				var preview = $('<span class="glyphicon glyphicon-asterisk"></span>')
					.attr('id','formation-preview-'+j)
					/*.popover({
						title : previewGroupFormation(j, '#formation-preview-'+i),//'<b>Formation</b>',
						html : true,
						//container: 'body',
						//trigger: 'focus',
						placement: 'right',//,
						content : null//( widget, '#widget-'+ phase +'-'+widget.name, phase)
					})*/
				$('#group_'+i)
					.append(label)
					.append(preview)
					.append('<br>')
					;
					
				$('#formation-preview-'+i).on('show.bs.popover', function () {
 					
				})	
				
					
			});
		});
		// list available video files
		$.get('/json/admin/video-files', function(files){
			the_files = files; 
			$.each(files, function(j, val){
				var checked = phase.video_files.indexOf( val._id ) === -1 ?  '' : 'checked'; 
				$('#videos_'+i).append( $('<label><input type="checkbox"  '+ checked +' value="'+val._id+'" name="video-files-'+j+'" aria-label="'+val.title+'"> '+val.title+' ('+val.creator+')</label><br>' ) );
			});
		});
		// list dates
		$('#datetimepicker_start_'+i ).datetimepicker({ sideBySide: true }).data("DateTimePicker").date(moment(phase.start));
		$('#datetimepicker_end_'+i).datetimepicker({ sideBySide: true }).data("DateTimePicker").date(moment(phase.end));
	});
	
	
	/*
	 * Displays a group formation with all groups and its members
	 * status: not working xxx
	 **/
	function previewGroupFormation(index, selector){ 		 	
		var data = the_formations[index].formation ;
		require(['text!../views/admin/users-groups-formations-single.ejs', 'ejs'], function(thetemplate) { 
			alert(JSON.stringify(data))
			var 
				html = ejs.render(thetemplate, data)
				;
			
			$(selector).append(html);
		});	
		return '<h4>Preview formation: '+ the_formations[index].title+'</h4>';
	}

	
	
	
	
	// handle submit
	$('#instance-form').submit(function( event ) { 
		event.preventDefault();	
		// collect data from form
		var 
			res = JSON.parse('<%-JSON.stringify( items )%>'),
			overwrite = $('#overwrite').prop( "checked" )
			;
			
//		alert(JSON.stringify(res.phases[0].widgets[0].widget_options))
//		return;	
		res.title = $('#instanceTitle').text();
		res.status = res.status === 'running' ? 'running' : 'ready';

		// collect phases
		$.each( res.phases, function(i, phase){ 
			// collect date
			var
				start = new Date( $('#datetimepicker_start_'+i).val() ),
				end = new Date( $('#datetimepicker_end_'+i).val() )
				; 
			//if(moment(end).subtract(moment(start)).hours() > 0){
			phase.start = start;
			phase.end = end; 
			phase.title = escapeSpecialChars($('#phase_'+i).find('.phase-title').text()),
    	phase.instruction = escapeSpecialChars( $('#phase-task_'+i).val() ),
    	phase.supplements = escapeSpecialChars( $('#phase-supplements_'+i).val()),//'#phase-supplements_'+i, //  
    	// collect group formations
			phase.seq = i;
			phase.groupindex = i;
			phase.groupformation = $('#group_'+i+' :checked').val();
			//phase.widgtes = phase.widgets;
			
			// collect videos per phase
  		var videos = $('#phase_'+i).find('.phase-video-list input:checked').map(function() {
  			return this.value;
			}).get(); 
			phase.video_files = videos;
			//alert(JSON.stringify(phase))
			// store it
			$.extend(res.phases[i], phase) 
		});

		//alert(JSON.stringify(res.phases[1].widgets[0].widget_options))
			//return;
		// send it
		$.ajax({
			type: "POST",
			url: '/admin/scripts/instances/update/'+res._id,
			contentType: "application/json",
			data: JSON.stringify( { overwrite: overwrite, instance: res} ),
			success: function(res){
				window.location.href = '/admin/scripts/instances';
			},
			error : function(e){
				console.log(JSON.stringify(e));
			}	
		});
	});
	
	
	$('#btn-show-permission-0').click(function(){
		permissionTable(0);
	})




	/*********************/
	/* permission table */
	function permissionTable(instance){
		var getOf = function(ids,obj){
				var arr = [];
				for (var i = 0; i < obj.length; i++){ 
					if( ids.indexOf( String( obj[i]._id ) ) > -1){
						arr.push( obj[i] );
					}
				}
				return arr;
			} 
		var 
			phase = 1, 
			val = {}, 
			tab = '#table1', 
			tab_cell, 
			tab_row, 
			tab_head,
			sel_formation = $('#group_'+instance+' :checked').val(),
			sel_files = $('#phase_'+instance).find('.phase-video-list input:checked').map(function() {
  			return this.value;
			}).get(), 
			data = {
				groups: getOf([ String( sel_formation ) ], the_formations), 
				videos: getOf(sel_files, the_files)  
			}
			if(data.groups[0] === undefined){ return; }
			;
			// reset
			$(tab).empty();
			
			//alert(JSON.stringify(the_files))
			//alert(JSON.stringify(data.groups))
			
  	// column header ~ videos
		tab_head = $('<thead></thead>')
			.append( $('<td></td>').text( '') )
			.appendTo( tab )
			; 
		for(var j = 0; j < data.videos.length; j++){	
			tab_cell = $('<td></td>')
				.text( data.videos[j].title )
				.addClass('xeditable')
  			.data('type', 'text')
  			.data('id', data.videos[j].id)
  			.data('pk', data.videos[j].id)
				.appendTo( tab_head );
		} 
		// rows ~ groups
  	for(var i = 0; i < data.groups[0].formation.length; i++){  //alert(JSON.stringify(data.groups[0]))
  		// first column
  		var row_label = $('<td></td>')
  			.text( 'Group '+i )
  			//.addClass('xeditable')
  			.data('type', 'text')
  			//.data('id', data.groups[0].formation[i].id)
  			.data('pk', 1)
  			;	
  		tab_row = $('<tr></tr>')
  			.append( row_label );
  		// cells
  		for(var j = 0; j < data.videos.length; j++){
  			var tab_cell = getEmptyCell(data.videos[j], data.groups[0].formation[i], i);
				tab_cell.appendTo( tab_row );
				/*
				if( data.groups[0].formation[i].videos.indexOf( data.videos[j].id ) >= 0 ){
  				tab_cell
  					.html( buildCell( tab_cell, data.videos[j] ) )
  					.addClass('visible-cell')
  					;
  			}
  			*/	
  			
  		}
  		$(tab).append( tab_row );
  		
  	}

	}// end permission table
	
	
	/*
	**/
	function getEmptyCell(video, group, group_index){
		var ch = $('<input type="checkbox" value="1" />');
		
		phase = 0;
		for (var ii = 0; ii < defaultWidgets.length; ii++){  
			if( getExistingWidgets( phase.widgets ).indexOf(defaultWidgets[ii].name) === -1){ 
				addWidgetDropDownItem(phase, defaultWidgets[ii]);                
			} 
		}
		var arr = [
			'<!-- Widgets -->',
			'<div  class="sec" id="widgets-'+phase+'">	',
				'<div class="btn-group">',
				'	<button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">',
				'		<span class="glyphicon glyphicon-plus"> <span class="caret"></span>',
				'	</button>',
				'	<ul class="dropdown-menu" id="widgetSelectorDropdown-'+phase+'">',
				'	</ul>',
				'</div>',
			'</div>'
		];
		return $("<td></td>")
			.append(arr.join(''))
			/*.popover({
						title : '<b>Instance of Video "'+video.title+'" for group '+group_index+'</b>',
						html : true,
						container: 'body',
						//trigger: 'focus',
						placement: 'right',//,
						content : 'hello'//( widget, '#widget-'+ phase +'-'+widget.name, phase)
					})*/
			.append( ch );
	}
	
	/*
	 **/
	function buildCell( cell, video ){
		$(cell).click(function(){
			alert(2)
		});
		return video.id;	
	}
	
	//alert(3)
	//permissionTable(1)
});


/*
 *
 **/
function handleDropdownClick(e) {
	var widget = e.data.widget;//getWidgetByName( e.data.widget.name );
	$('#widgets-'+e.data.phase).prepend( buildWidget( widget, e.data.phase) );
	// remove entry
	$(e.target).parent().remove();
	// toggle
	$('#widgetSelectorDropdown-'+e.data.phase).dropdown('toggle'); 
	e.preventDefault();
	return false;
};


/***/
function addWidgetDropDownItem(phase, widget){ //alert(JSON.stringify(widget))
	var 
		dropdown = document.getElementById('widgetSelectorDropdown-' + phase),
  	li = document.createElement("li"),
  	link = document.createElement("a"),             
  	text = document.createTextNode( widget.name )
  	;
  link.appendChild(text);
  link.href = "#";
  $(link).unbind('click', {phase: phase, widget: widget}, handleDropdownClick ); 
	$(link).bind('click', {phase: phase, widget: widget}, handleDropdownClick ); 	
  li.appendChild(link);
  dropdown.appendChild(li);
} 


defaultWidgets = [
	{ label : 'StrawPoll',
		name: 'strawpoll', 
 		canBeAnnotated:true, 
 		type : 'thinkLet',
 		widget_options: {
			path: '/static/img/user-icons/'
		}
	},
	{ label : 'BucketSchuffel',
		name: 'bucketshuffel', 
 		canBeAnnotated:true, 
 		type : 'thinkLet',
 		widget_options: {
			path: '/static/img/user-icons/'
		}
	},
	{ label : 'Table of Content',
		name: 'toc', 
 		canBeAnnotated:true, 
 		type : 'annotation',
 		widget_options: {
			hasTimelineMarker: true, 
			timelineSelector : '.vi2-timeline-main',
			hasMenu : true,
			menuSelector: '#toc',
			allowEditing : true,
			allowCreation : true,
			path: '/static/img/user-icons/'
		}
	},
	{ label : 'Hyperlinks',
		name: 'hyperlinks', 
 		canBeAnnotated:true, 
 		type : 'annotation',
 		widget_options: {
	 		displaySelector: '#seq',
			hasTimelineMarker: true, 
			timelineSelector : '.vi2-timeline-main',
			hasMenu : true,
			menuSelector: '#hyperlinks',
			minDuration: 5, // seconds
			allowEditing : true,
			allowCreation : true,
			path: '/static/img/user-icons/'
		}
	},
	{ label : 'Comments',
		name: 'comments', 
		canBeAnnotated:true, 
		type : 'annotation',
 		widget_options: {
 			hasTimelineMarker: true,
 			timelineSelector : '.vi2-timeline-bottom', 
			hasMenu : true,
			menuSelector: '#comments',
			allowReplies : true, // tipical for comments
			allowEmoticons : true, 
			allowEditing : true,
			allowCreation : true, 
			path: '/static/img/user-icons/'
 		}
 	},
 	{	label : 'Video Assessment',
 		name : 'assessment',
	 	canBeAnnotated:true, 
		type : 'annotation',
		widget_options : { 
			displaySelector: '#overlay',
			hasTimelineMarker: true,
		  timelineSelector : '.vi2-timeline-top', 
			hasMenu : true,
			menuSelector: '#assessment',
			allowComments : true,
			allowEditing : true,
			allowCreation : true, 
			path: '/static/img/user-icons/'
		 }
	},
	{	label : 'Video Analysis',
 		name : 'assessmentanalysis',
	 	canBeAnnotated:true, 
		type : 'annotation',
		widget_options : { 
			displaySelector: '#overlay',
			hasTimelineMarker: true,
		  timelineSelector : '.vi2-timeline-top', 
			hasMenu : true,
			menuSelector: '#assessment2',
			allowComments : true,
			allowEditing : true,
			allowCreation : true, 
			path: '/static/img/user-icons/'
		 }
	},
	{
		label : 'Skip Back',
		name : 'skipBack',
		type : 'player-widget',
		widget_options : {
			selector : '.control-bar',
			label : '',
			step : 5 // in seconds
		}
	},
	{
		label : 'Playback Speed',
		name : 'playbackSpeed',
		type : 'player-widget',
		widget_options : {
			selector: '.control-bar',
			videoSelector : 'video1',
			speed_steps: [0.3,0.5,0.7,1.0,1.5,1.7,2.0]//[0.3,0.5,0.8,1.0,1.5,2.0,3.0,4.0]	
		}
	}	
];


function getExistingWidgets(arr){
	var s = [];
	for(w in arr){
		if( arr.hasOwnProperty(w) ){ 
			s.push( arr[w].name )		
		}
	}
	return s;
}

/*
 **/
function getWidgetByName(name){
	var len = defaultWidgets.length
	for(var i=0; i < len; i++){
		if(defaultWidgets[i].name === name){
			return defaultWidgets[i];
		}
	}
	return undefined;
} 


</script>

