<% layout( '../admin-layout' ) -%>


<h2>Instance: <span id="instanceTitle" class="str xeditable"><%= items.title %></span></h2>

<!-- Phases -->
<form id="instance-form">
<div class="phases">
<% if ( items.phases) { 
	phase_i = -1
%>
	<% items.phases.forEach(function( phase ){ 
		phase_i++
	%>
		<div class="phase" id="#phase_<%= phase_i %>">
			<h3 class="xeditable phase-title str" id="phase-title_<%= phase_i %>" data-type="text" data-pk="1" data-url="" data-title="Phase Title">
				<%= phase.title %>
			</h3>
			<div class="row">
				<!-- Define time range -->
				<div class="col-md-6 admin-panel">
					<div class="row">
						<div class='col-sm-5'>
							<div class="input-group input-group-xs">
								<span class="input-group-addon" id="start_<%= phase_i %>">Start</span>
								<input type="text" class="datetimepicker form-control start" id="datetimepicker_start_<%= phase_i %>" aria-describedby="Select date and time when Phase should start"  value="<%- phase.start %>">
							</div>
						</div>
						<div class='col-sm-5'>
							<div class="input-group input-group-xs">
								<span class="input-group-addon" id="start_<%= phase_i %>">End</span>
								<input type="text" class="datetimepicker form-control end" id="datetimepicker_end_<%= phase_i %>" aria-describedby="Select date and time when Phase should start"  value="<%= phase.end %>">
							</div>
						</div>
					</div>
				
				</div>
				<!-- Select Groups -->
				<div class="col-md-6 admin-panel">
					<h4>Group formations</h4>
					<div id="group_<%= phase_i %>" class="phase-group-list"></div>
				</div>
			</div>	
		</div>	
	<% }) %>
<% } %>
</div>

<br><br><br>
<div class="buttons">
	<button type="submit" class="btn-default btn">save instance</button>  
	<a href="/admin/scripts/instances">cancel</a> 
	<a class="alert-btn" href="/admin/scripts/instances/destroy/<%= items._id %>" title="Delete this instance">delete</a>
</div>
</form>

<script>

/*
todo
- preview group formations
- validation / optional values
*/


/*
require.config({
  paths: {
    // set the moment.js path
    jquery: 'jquery-1.9.1.min',
    moment: 'moment.min',
    datetime: 'bootstrap-datetimepicker.min'
  }
});

	require(['moment', 'jquery', 'datetime'], function(moment, jquery, datetimepicker) {
  // test if moment is loaded
  alert(moment().format('dddd, MMMM Do YYYY, h:mm:ss a'));
});
*/

// make it editable
$.fn.editable.defaults.mode = 'inline'; // popup

$('.str').each(function(i, val){
	$(this).text( decodeURIComponent($(this).text()) );
})

var data = JSON.parse('<%-JSON.stringify( items.phases )%>');

$(document).ready(function() {
	// make text editable inline
	$('.xeditable').editable({
		success: function(response, value) {
       //alert($(this).attr('id') +'__'+value)   
   	}
	});

	// load group formations
	$.each( data, function(i, phase){
		// list available videos
		$.get('/json/admin/groups/formations', function(formations){ 
			$.each(formations, function(j, val){
				var check = phase.groupformation === formations[j]._id ? 'checked' : '';
				$('#group_'+i).append( $('<label><input '+ check +' value="'+val._id+'" type="radio" name="grform_'+i+'" aria-label="'+val.title+'"> '+val.title+'</label><br>' ) );
			});
		});
		// dates
		$('#datetimepicker_start_'+i ).datetimepicker({ sideBySide: true }).data("DateTimePicker").date(moment(phase.start));
		$('#datetimepicker_end_'+i).datetimepicker({ sideBySide: true }).data("DateTimePicker").date(moment(phase.end));
	});
	
	// save input
	$('#instance-form').submit(function( event ) { 
		event.preventDefault();	
		// collect data from form
		var res = JSON.parse('<%-JSON.stringify( items )%>');; // take initial instance
		res.title = $('#instanceTitle').text();
		res.status = 'ready';
		
		// collect phases
		$.each( res.phases, function(i, phase){ 
			// date
			var
				start = new Date( $('#datetimepicker_start_'+i).val() ),
				end = new Date( $('#datetimepicker_end_'+i).val() )
				; 
			//if(moment(end).subtract(moment(start)).hours() > 0){
				phase.start = start;
				phase.end = end;
			//}
			// group formations
			phase.seq = i;
			phase.groupindex = i;
			phase.groupformation = $('#group_'+i+' :checked').val();
			$.extend(res.phases[i], phase) 
		});
		//alert(JSON.stringify(res))
		// send it
		$.ajax({
			type: "POST",
			url: '/admin/scripts/instances/update/'+res._id,
			data: res,
			success: function(res){ 
				window.location.href = '/admin/scripts/instances';
			},
			error : function(e){
				console.log(JSON.stringify(e));
			}	
		});
	});
});




</script>

